@import url("https://fonts.googleapis.com/css2?family=Inter&family=Readex+Pro&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Inter", sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
}

.inner {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px 25px;
}

.header {
  margin: 30px 0px;
}

.header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .inner .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 38px;
}

.header .inner .menu a {
  text-transform: uppercase;
  color: #000000;
}

.header .inner .menu a:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.header .inner .menu__link:nth-child(2) a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .inner .menu__link:nth-child(2) a .arrow-img {
  padding-left: 7px;
}

.header .inner .menu__link:nth-child(2) a .arrow-img img {
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.header .inner .menu__link:nth-child(2) a .arrow-img img.active {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.header .inner .menu .sub-menu {
  position: absolute;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  max-height: 0;
  display: block;
  opacity: 0;
  background-color: #000000;
  border-radius: 3px;
  margin-top: 5px;
}

.header .inner .menu .sub-menu.open {
  display: block;
  max-height: 100px;
  opacity: 1;
}

.header .inner .menu .sub-menu__link {
  margin: 10px 10px 10px 3px;
  font-size: 13px;
  color: white;
}

.header .inner .menu .sub-menu__link:hover {
  color: #a3a3a3;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.header__buttons .search {
  border: #000000 1px solid;
  padding-left: 3px;
}

.header .popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000d5;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .popup__body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.header .popup__content {
  background-color: white;
  max-width: 800px;
  padding-right: 150px;
  padding-left: 9px;
  border-radius: 5px;
  position: relative;
}

.header .popup__close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 20px;
  color: #000;
}

.header .popup__title {
  font-family: "Readex Pro", sans-serif;
  font-size: 25px;
  margin-bottom: 25px;
  margin-top: 15px;
}

.header .popup__text ul li {
  margin-bottom: 15px;
  font-size: 17px;
}

.header .popup.open {
  opacity: 1;
  visibility: visible;
}
