h2.title {
   font-family: "Readex Pro";
   font-size: 42px;
   text-align: center;
}

.title-text {
   display: block;
   font-family: "Readex Pro";
   text-align: center;
}

.btn {
   font-family: "Inter";
   font-size: 18px;
   line-height: 22px;
   text-transform: capitalize;
   color: #000000;
   border: 1px solid #000000;
   border-radius: 200px;
   padding: 13px 50px;
   display: inline-block;

   &:hover {
      color: white;
      background-color: black;
      transition: all 0.3s ease;
   }
}
