@media (max-width: 1024px) {
   body {
      overflow: hidden;
   }

   .header {
      .inner {
         a {
            z-index: 3;
         }
      }

      &__burger {
         display: block;
         z-index: 3;
      }

      nav {
         position: fixed;
         top: -100%;
         left: 0;
         width: 100%;
         height: 100%;
         padding: 100px 0 0 30px;
         transition: all 0.3s ease 0s;
         overflow: auto;
         z-index: 2;
         &.active {
            top: 0;
         }
         .menu {
            flex-direction: column;
            &__link {
               a {
                  font-size: 30px;
               }
            }

            .sub-menu {
               margin-top: 20px;
               &.open {
                  position: relative;
               }
               &__link {
                  font-size: 23px;
                  padding: 20px;
               }
            }
         }

         &::before {
            content: "";
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            height: 84px;
            background-color: rgb(255, 255, 255);
            z-index: 5;
         }
      }
   }
}
