.search {
   margin-bottom: 50px;
   text-align: center;
   .title {
      margin-bottom: 20px;
   }

   .flex-wrapper {
      justify-content: center;
      gap: 5px;
      flex-wrap: wrap;
      max-width: 530px;
      margin: 0 auto;
   }

   &__input {
      display: inline-block;
      border: #afafaf 1px solid;
      border-radius: 100px;
      padding: 15px 40% 15px 50px;
      background: transparent url(../img/search-icon.svg) no-repeat 2% 50%;
      margin-bottom: 10px;
   }

   &__btn {
      font-family: "Inter";
      color: #000000;
      border: 1px solid #afafaf;
      border-radius: 100px;
      padding: 12px 20px;

      &:hover {
         background-color: black;
         color: white;
         transition: all 0.3s ease;
      }
   }
}
